main {
    grid-template-columns: 1fr 1fr;
    gap: 10px;

}

h1 {
    font-size: 2vw;
    color: white;
    text-align: center;
}

.w {
    font-family: 'Webkinz';
    font-size: 3vw;
    color: white;
}

.p {
    font-family: 'pony';
    font-size: 2vw;
    color: white;
}

.v {
    font-family: 'Eight Track';
    font-size: 6vw;
    color: white;
}

.v h2 {
    margin-top: 15px;
    text-align: center;
}

.p h2 {
    margin-top: 10px;
}

hr {
    width: 100%;
}

.w .slideshow-container {
    max-width: 500px;
}

.p .slideshow-container {
    max-width: 500px;
}

.slideshow-container {
    max-width: none;
}